WCFApp/Connected Services/PhoneBookServiceReference/ServicePhoneBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePhoneBook" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59890/ServicePhoneBook.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59890/ServicePhoneBook.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59890/ServicePhoneBook.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePhoneBook_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_AddPhoneBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoneBook" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_AddPhoneBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoneBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_UpdatePhoneBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoneBook" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_UpdatePhoneBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoneBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_DelatePhoneBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DelatePhoneBook" />
  </wsdl:message>
  <wsdl:message name="IServicePhoneBook_DelatePhoneBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelatePhoneBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePhoneBook">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhoneBook/GetById" message="tns:IServicePhoneBook_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhoneBook/GetByIdResponse" message="tns:IServicePhoneBook_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhoneBook/GetAll" message="tns:IServicePhoneBook_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhoneBook/GetAllResponse" message="tns:IServicePhoneBook_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhoneBook/AddPhoneBook" message="tns:IServicePhoneBook_AddPhoneBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhoneBook/AddPhoneBookResponse" message="tns:IServicePhoneBook_AddPhoneBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhoneBook/UpdatePhoneBook" message="tns:IServicePhoneBook_UpdatePhoneBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhoneBook/UpdatePhoneBookResponse" message="tns:IServicePhoneBook_UpdatePhoneBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelatePhoneBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhoneBook/DelatePhoneBook" message="tns:IServicePhoneBook_DelatePhoneBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhoneBook/DelatePhoneBookResponse" message="tns:IServicePhoneBook_DelatePhoneBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePhoneBook" type="tns:IServicePhoneBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServicePhoneBook/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServicePhoneBook/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneBook">
      <soap:operation soapAction="http://tempuri.org/IServicePhoneBook/AddPhoneBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneBook">
      <soap:operation soapAction="http://tempuri.org/IServicePhoneBook/UpdatePhoneBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelatePhoneBook">
      <soap:operation soapAction="http://tempuri.org/IServicePhoneBook/DelatePhoneBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePhoneBook">
    <wsdl:port name="BasicHttpBinding_IServicePhoneBook" binding="tns:BasicHttpBinding_IServicePhoneBook">
      <soap:address location="http://localhost:59890/ServicePhoneBook.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>