WCFApp/Connected Services/PhoneBookServiceReference/ServicePhoneBook.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhoneBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneBook" nillable="true" type="tns:PhoneBook" />
  <xs:complexType name="ArrayOfPhoneBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneBook" nillable="true" type="tns:PhoneBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneBook" nillable="true" type="tns:ArrayOfPhoneBook" />
</xs:schema>